		<!-- Registration -->
			<div class="wrapper wrapper-style4">
				<article id="contact" class="container small">
					<header>
						<h2>Register your Account</h2>
					</header>
					<div>
						<div class="row">
							<div class="12u">
								<form method="post" action="../register/index.php?action=doregistration">
									<div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="forename" id="subject" placeholder="Vorname" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="surname" id="subject" placeholder="Nachname" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="username" id="subject" placeholder="Username" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<span style="text-align: left; float:left;">
												Min. 8 Zeichen, Min. 1 Kleinbuchstabe, Min. 1 Zahl.<br />
												Erlaubte Zeichen: A-Z, 0-9 und folgende Sonderzeichen: ! @ . * _ 
												</span>
												<input type="password" name="password" id="subject" placeholder="Password" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="password" name="password2" id="subject" placeholder="Retype Password" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="mail1" id="subject" placeholder="E-Mail" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="mail2" id="subject" placeholder="Retype E-Mail" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<a href="#" class="button form-button-submit">Send Message</a>
												<a href="#" class="button button-alt form-button-reset">Clear Form</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>