			<div class="wrapper wrapper-style1 wrapper-first" style="margin-top:-100px;">
				<article class="container" id="top">
					<div class="row">
						<div class="8u">
							<header>
								<h1>Admin functions</h1>
							</header>
						</div>
					</div>
					<div class="row">
							<div class="4u">
								<article class="box box-style2">
									<a href="../admin/index.php?action=show_userlist">
									<img src="../template/images/userlist.png"/><br />
									<span>Edit Userlist</span>
									</a>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="../admin/index.php?action=show_payments">
									<img src="../template/images/payments.png"/><br />
									<span>Manage Payments</span>
									</a>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="../admin/index.php?action=show_mail">
									<img src="../template/images/mozilla-mail.png"/><br />
									<span>Send Newsletter</span>
									</a>
								</article>
							</div>
						</div>
					</div>
				</article>
			</div>