		<!-- Login -->
			<div class="wrapper wrapper-style4">
				<article id="contact" class="container small">
					<header>
						<h2>JSLAN v6 - Mgmt</h2>
						<span><a href="../register/index.php">Create Account to Log In</a></span>
					</header>
					<div>
						<div class="row">
							<div class="12u">
								<form method="post" action="./index.php?action=login">
									<div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="username" id="subject" placeholder="Username" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="password" name="password" id="subject" placeholder="Password" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<a href="#" class="button form-button-submit">Log In</a>
												<a href="#" class="button button-alt form-button-reset">Clear Form</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>