<div class="wrapper wrapper-style1 wrapper-first" style="margin-top:-40px;">
				<article class="container" id="top">
					<div class="row">
						<div class="8u">
							<header>
								<h1>What we know about <strong>you</strong>!</h1>
							</header>
							<a href="../login/index.php">Zurück</a><br />
							<ul>
								<li>Vorname: [forename]</li>
								<li>Nachname: [surname]</li>
								<li>Benutzername: [username]</li>
								<li>Mailadresse: [mail]</li>
								<li>Angemolden: [registered]</li>
								<li>Bezahlt: [paid]</li>
							</ul>
						</div>
					</div>
				</article>
			</div>