<!-- NOC -->
			<div class="wrapper wrapper-style1 wrapper-first" style="margin-top:-100px;">
				<article class="container" id="top">
					<div class="row">
						<div class="8u">
							<header>
								<h1>User functions</h1>
							</header>
						</div>
					</div>
					<div class="row">
							<div class="4u">
								<article class="box box-style2">
									<a href="./index.php?action=lanreg">
									<img src="../template/images/network.png"/><br />
									<span>Register for JSLAN v6</span>
									</a>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="./index.php?action=info">
									<img src="../template/images/show.png"/><br />
									<span>Show Info about you and the LAN</span>
									</a>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="./index.php?action=profile">
									<img src="../template/images/edit_big.png"/><br />
									<span>Edit your settings</span>
									</a>
								</article>
							</div>
						</div>
					</div>
				</article>
			</div>