<div class="wrapper wrapper-style1 wrapper-first" style="margin-top:-40px;">
				<article class="container" id="top">
					<div class="row">
						<div class="8u">
							<header>
								<h1>Edit User <strong>settings</strong>!</h1>
							</header>
							<ul>
								<form action="./index.php?action=profile_edit&id=[id]" method="post">
								<li>Username: <input type="text" name="username" value="[username]" /></li>
								<li>Password: <br />
								<span style="text-align: left; float:left;">
												Min. 8 Zeichen, Min. 1 Kleinbuchstabe, Min. 1 Zahl.<br />
												Erlaubte Zeichen: A-Z, 0-9 und folgende Sonderzeichen: ! @ . * _ 
												</span>
								<input type="password" name="password" value="supersecretpassword" /></li>Zur Bestätigung wiederholen. 
								<li><input type="password" name="password2" value="supersecretpassword" /></li>
								<li>Vorname: <input type="text" name="forename" value="[forename]" /></li>
								<li>Nachname: <input type="text" name="surname" value="[surname]" /></li>
								<li>E-Mail: <input type="text" name="mail1" value="[mail1]" /></li>Zur Bestätigung wiederholen. 
								<li><input type="text" name="mail2" value="[mail2]" /></li>
								<li>Admin: <input type="text" name="admin" value="[admin]" /></li>
								<li>Registered: <input type="text" name="registered" value="[registered]" /></li>
								<li>Paid: <input type="text" name="paid" value="[paid]" /></li>
								<input type="submit" value="Einstellungen ändern" />
								</form>
							</ul>
						</div>
					</div>
				</article>
			</div>