<div class="wrapper wrapper-style1 wrapper-first">
				<article class="container" id="top">
					<div class="row">
						<div class="8u">
							<header>
								<h1>Create <strong>Newsletter</strong>!</h1>
							</header>
							<form action="../admin/index.php?action=send_mail" method="post">
							<span>Type your information as HTML Code:</span><br />
							<textarea name="message"></textarea>
							<input type="submit" name="submit" value="Send Mail!" />
							</form>
						</div>
					</div>
				</article>
			</div>